.home {
    background-image: url("../assets/bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
}

.home .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.658);
    height: 100vh;
    width: 100%;
    z-index: 50;
}

.home .content {
    color: white;
    position: absolute; /* مهم */
    z-index: 100;
    height: 100vh;
    width: 100%;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home .btn-courses:hover{
    color: white;
}